.container {
  max-width: 120rem;
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.botao{
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: .4rem;
  background: var(--color-g1);
  color: var(--color-p5);
  box-shadow: 0 .1rem .2rem var(--color-shadow);
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1.33;
  font-family: 'Poppins';
  font-weight: 600;
}

.botao:hover {
  background: var(--color-g2);
}

@media (max-width: 600px) {
  .botao{
    padding: 1.2rem 1.6rem;
    font-size: 1.6rem;
  }
}