.botao{
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: .4rem;
  background: linear-gradient(var(--p-01), var(--p-06));
  color: var(--p-05);
  box-shadow: 0 .1rem .2rem var(--shadow);
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1.33;
  font-family: 'Poppins';
  font-weight: 600;
}

.botao:hover {
  background: linear-gradient(var(--p-01-1), var(--p-07));
}

@media (max-width: 600px) {
  .botao{
    padding: 1.2rem 1.6rem;
    font-size: 1.6rem;
  }
}